* {
    box-sizing: border-box;
}

body {
    font-family: 'Recursive', sans-serif;
    background-color: #FB6B6B; 
}

/*-- Tela Inicial --*/
.tela-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 170px;
}

.logo-inicial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-inicial img {
    width: 136px;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 36px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
}

.botao-inicio {
    font-family: 'Recursive', sans-serif;
    background-color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    color: #D70900;
    width: 246px;
    height: 54px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 46px;
}

.botao-inicio:hover {
    cursor: pointer;
}

/*-- Tela 2 --*/
/*Header*/
header {
    background-color: #FB6B6B;
    height: 90px;
    padding: 20px 0px 0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

header h2 {
    font-family: 'Righteous', cursive;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    padding-left: 5px;
}

header img {
    width: 52px;
}
/*Cards*/
.cards {
    margin-top: 110px;
    margin-bottom: 90px;
    padding: 0px 10px 0px 10px;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    padding: 12px;
    margin-bottom: 5px;
}

.card img:hover {
    cursor: pointer;
}

.card p {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
}

.card img {
    width: 20px;
}

.card.vermelho p{
    color: #D70900;
    text-decoration: line-through;
}

.card.amarelo p{
    color: #FF922E;
    text-decoration: line-through;
}

.card.verde p{
    color: #2FBE34;
    text-decoration: line-through;
}

.card.pergunta {
    position: relative;
    background-color: #FFFFD4;
    height: 80px;
    align-items:flex-start;
    font-size: 18px;
}

.card.pergunta img {
    position: absolute;
    width: 30px;
    right: 8px;
    bottom: 8px;
}

.card.resposta {
    flex-direction: column;
    background-color: #FFFFD4;
    height: 131px;
    align-items:flex-start;
}

.card.resposta div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card.resposta div button {
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    width: 86px;
    height: 38px;
    font-size: 12px;
}

.card.resposta div button.vermelho {
    background-color: #FF3030;
}

.card.resposta div button.amarelo {
    background-color: #FF922E;
}

.card.resposta div button.verde {
    background-color: #2FBE34;
}

/*-- Footer --*/
footer {
    background-color: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    font-size: 18px;
}

footer p {
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

footer .resultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .resultado .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}

footer .resultado .emoji p {
    font-weight: 700;
}

footer .resultado .mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

footer img {
    margin-right: 5px;
}

/*-- Escondido --*/
.escondido {
    display: none;
}

/*-- Botão --*/
button {
    cursor: pointer;
}

@media (min-width: 350px) {
    /*-- Cards --*/
    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 340px;
    }
}